*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 10vww;
}

header {
    background-color: black;
    padding: 10vh;
}

.menu-header {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.menu-header > li > a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.menu-header > li > a:hover {
    color: red;
    transition: 0.8s;
}

.menu-header > li {
    margin-left: 20px;
}

#section1{
    padding: 30vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 13%, rgba(252,0,0,1) 87%);
}

#section1 > div > h1{
    font-size: 35px;
    color: white;
}

#section1 > div> p{
    font-size: 30px;
    color: white;
}

#section1 > button{
    padding: 15px;
    border-radius: 40px;
    width: 13vw;
    cursor: pointer;
    border-color: red;
    margin-top: 30px;
    background-color: black;
}

#section1 > button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#section1 > button:hover{
    background-color: red;
    border-color: black;
    transition: 0.5s;
}

#section1 > button > a:hover{
    color: black;
    transition: 0.8s;
}

#section2 {
    padding: 30vh;
    background-color: rgba(252,0,0,1);
    display: flex;
    justify-content: space-around;
}

#section2 > div > button{
    padding: 15px;
    border-radius: 40px;
    width: 16vw;
    cursor: pointer;
    border-color: red;
    margin-top: 30px;
    background-color: black;
}

#section2 > div > button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
#section2 > div > button:hover{
    background-color: red;
    border-color: black;
    transition: 0.5s;
}

#section2 > div > button > a:hover{
    color: black;
    transition: 0.8s;
}

#section2 > div > p{
    font-size: 43px;
    color: white;
}

#section2 > div > img { 
    width: 30vw; 
    height: 60vh;
    margin-left: 70px; 
    margin-top: -70px; 
}

#section3 { 
    padding: 30vh;
    background: linear-gradient(180deg, rgba(252,0,0,1) 27%, rgba(0,0,0,1) 93%);
    flex-wrap: wrap; 
}

#section3 > h2 { 
    font-size: 40px;
    margin-top: -20rem; 
    color: black;
    text-align: center; 
}

#section3 > p {
    font-size: 20px;
    margin-top: 30px; 
    color: black; 
    text-align: justify; 
}

#section3 .text1 { 
    text-align: center;
}

#section3 > button{
    padding: 15px;
    border-radius: 40px;
    width: 20vw;
    cursor: pointer;
    border-color: red;
    margin-top: 30px;
    background-color: black;
}

#section3 > button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
#section3 > button:hover{
    background-color: red;
    border-color: black;
    transition: 0.5s;
}

#section3 > button > a:hover{
    color: black;
    transition: 0.8s;
}

.line {
    margin: 30px auto;
    width: 70%;
}

#section3 img { 
    margin-left: 400px;
    margin-top: 10px; 
    width: 10vw; 
}

#section4 { 
    background: linear-gradient(180deg, rgba(0,0,0,1) 27%, rgba(116,111,111,1) 93%), url(evas.jpg); 
    background-position: center; 
    background-attachment: fixed; 
    padding: 10%;
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
 }  
 
 #section4 img { 
    width: 25vw; 
    margin-top: 10rem; 
    height: auto;
    flex-wrap: wrap;
}

#section4 h2 { 
    color: white;
    font-size: 30px; 
    text-align: center;
}

#section4 p { 
    color: white; 
    font-size: 17px; 
    text-align: center;
    margin-top: 2rem; 
   
}

